body{
    background-color: beige;
}

#zero{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}
.text{
    display: flex;
    flex-direction: row;
    
}
table{

    
    width: 60%;
    height: 350px;
    margin-left: 10px;
    border-collapse: collapse;
    background: linear-gradient(rgb(37,88,163),rgba(73,77,82,0.5));
    color: white;
}
th,td{
    border:2px solid #e8f0fb;
}
select{
    font-size: medium;
    font-style: oblique;
}
#one{
    font-family:  sans-serif;
    font-size: medium;
}
.img{
    margin-left: 60px;
}
@media  only screen and (max-width: 500px){
    #zero{
        font-size: small;
    }
    .text{
        display: flex;
        flex-direction: row;
    }
    .only_text{
        font-size: small;
        margin-right: 60px;
    }
    #two{
        font-family:  sans-serif;
        font-size: small;
    }
    #one{
        font-family:  sans-serif;
        font-size: smaller;
    }
        
    
}
    



